# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# OS Files
.DS_Store
Thumbs.db

# Python build
build/
dist/
*.egg-info/

# Model checkpoints (optional)
*.h5

# Logs
*.log

# Processed datasets
data/processed/